# Dependencies
node_modules
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# Build
dist

# IDE
.idea

# Claude
.claude

# Environment
.env
.env.*
!.env.example

# OS
.DS_Store
